<!DOCTYPE html>
{% extends "fourth_task/main_page_task4.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block pagename %}
<h1>Магазин</h1>
{% endblock %}

{% block menu %}
    <h3><a href="/shop">Магазин</a></h3>
    <h3><a href="/">Главная</a></h3>
    <h3><a href="/basket">Корзина</a></h3>
{% endblock %}

{% block content %}
    <h1>Игры</h1>
    <ul>

        {% for game in list_games %}
      <li><h3>{{ game }} <a href="/basket"> <button>Купить</button> </a></h3></li>
        {% endfor %}
    </ul>
{% endblock %}
</body>
</html>